.container{ display:contents ;}
#unea{height: 40%;display: flex;margin-top: 0%;margin-bottom: 0%; border-bottom:solid rgba(0, 0, 0, 0.097) 2px;initial: letter align 1px;}
#deuxa{margin-bottom: 0%;}
#troisa{display: flex;background-color: #ffffff;}
#onea{justify-items: end;border: spacing 0;margin-top: 5%;margin-left: 3%;width: 50%;}
#twoa{width: 50%;margin-top: 0%;}
#logoa{width: 130;margin-left: 3%;height: 50px;margin-right: 20%;font-size: 25px;}
#barre-hautea{margin-top: 8px;margin-left: 600px;padding-inline: 5px;font-size: 25px;margin-right: 2px;display: flex;}
a{text-decoration: none;color:#6e41bf;font-size: x-large;margin-bottom: 2px;padding:10px 20px}
#inder1-1a{display: contents;}
#bt-starta{ width: 200px;background-color: #ff6f00;color: white;font-size: 20px;}
select{padding:10px 40px; background:#ffffffbd; width:490px; border-radius:25px;border: none;margin-bottom: 2%;font-size: 20px;color: gray;border:solid rgba(47, 41, 41, 0.423);}
#backa{margin-top: 10%;width: 800px;}
p{font-size: medium;}
#cta{margin-top:13px ;font-weight: normal;font-size:20px;margin-bottom: 20px;}
#cnxa{color: #6e41bf;font-size: 20px;}
#titrea{color: #6e41bf;margin-left: 40%;margin-top: 2%;}
#phrasea {font-size: large;margin-left: 38%;color: #044349;}